form{
    align-content: center;
    align-self: center;
    width:25%;
    text-align: center;
    margin-left: 37.5%;
    margin-top: 1%;
}
body{
    align-content: center;
    align-self: center;
    width: 25%;
    margin-left: 37.5%; 
}
.teleoptable, .autotable, .infotable{
    width: 75%;
    margin-left:12.5%; 
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    table-layout: fixed;
    row-gap: 1%;
}
.othertable{
    width: 75%;
    margin-left:12.5%; 
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    table-layout: fixed;
    row-gap: 1%;
}
tr{
    height: 20px;
    text-align: center;
    border-spacing: 5em;
}
td{
    padding: 5px;
}
h3{
    text-align: center;
}
